<!DOCTYPE html>
<html lang="es">
<br>
	<div class="container-md">
		<h1 class="alert alert-success" role="alert">Bienvenido</h1>
	</div>
<br>
<div class="card text-center"></div>
<div class="card-header"></div>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-sacle=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.boostrapcdn.com/boostrap/4.4.1/css/bootstrap.mincss" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkktu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<title>Hola mundo con python</title>
	<div>
		<ul class="nav nav-tabs">

			<li class="nav-item">
				<a class="nav-link active navbar-light" style="background-color: #e3f2fd;" aria-current="page" href="../templates/template.html">Pagina Inicial</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active navbar-light" style="background-color: #e3f2fd;" href="../templates/infoPersonal.html">Personal</a>
			</li>
		</ul>
	</div>
</head>
<style type="text/css">
	img.izquierda {
		float: left;
	}
	img.derecha {
		float: right;
	}
</style>
<body style=”text-align: justify;”>
	<h3>Bienvenido al sitio WEB donde encontraras mas información sobre {{nombre}} {{apellidos}} .</h3>
	<div>	
		<font face="Libre Baskerville" size="5" color="	#008000">
			<p class="text-break" style="text-align: center;"><img src="https://scontent.fbjx1-1.fna.fbcdn.net/v/t1.6435-1/p160x160/87397089_2763232437092928_8151742653864607744_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=7206a8&_nc_ohc=BUMmKtU1cVoAX8KLzeL&_nc_ht=scontent.fbjx1-1.fna&tp=6&oh=ac55fc16be866472d71ae1b569fda223&oe=60CBB769" class="izquierda">Mi nombre es {{nombre}} {{apellidos}} actualmente estudiante de la carrera de ingeniería en Sistemas Computacionales en el Instituto Tecnologico Superior de Guanajuato ({{escuela}}) cursando el octavo semestre. En lo personal me considero una persona dedicada, a lo que realizo. Me gusta mucho la parte de diseño y desarrollo de páginas web.
			</p><br><br><hr><br><br>
			<p class="text-break" style="text-align: center;"><img src="https://scontent.fbjx1-1.fna.fbcdn.net/v/t1.6435-9/37178543_1749920938424088_7302318471994408960_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=174925&_nc_ohc=8fRx6vGcOUgAX_GVjp_&_nc_ht=scontent.fbjx1-1.fna&oh=8773dd057c30068206c37c8a38a290f5&oe=60CCBB61" class="derecha" width="190" height="170">En mi tiempo libre me gusta mucho escuchar música, salir a caminar, o también jugar futbol. también ver alguna serie de Netflix. también me gusta mucho salir en bicicleta y rodar hasta la presa de la soledad.</p><br><br><hr><br><br>
			<p class="text-break" style="text-align: center;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkX3S3JBahN5X70eh7fOPGzHQ3ydLdej-gO5FC3rVvswtgtziXT5ETEEb-n3nJiAHPsY0&usqp=CAU" class="izquierda" width="250" height="180">Me apasiona ver los deportes de automotor, pienso que es uno de mis gustos favoritos ya que a verlos siento que voy dentro de los autos compitiendo. Me gusta sentir la adrenalina cuando pasan a máxima velocidad.</p>
			<br><br><br>
		</font>
	</div>
</body>
<footer class="bg-success text-center text-white">
	<div class="container p-4">
		<section class="">
			<form action="">
				<!--Grid row-->
				<div class="row d-flex justify-content-center">
					<!--Grid column-->
					<div class="col-auto">
						<p class="pt-2">
							<strong>Sign up for our newsletter</strong>
						</p>
					</div>
					<div class="col-md-5 col-12">
						<div class="form-outline form-white mb-4">
							<input type="email" id="form5Example2" class="form-control" />
							<label class="form-label" for="form5Example2">Email address</label>
						</div>
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-outline-light mb-4">
							Subscribe
						</button>
					</div>
				</div>
			</form>
		</section>
	</div>
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2020 Copyright:
		<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	</div>
	<!-- Copyright -->
</footer>

</html>

